body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  background: rgb(39, 174, 96);
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box{
  border-radius: 7px;
  color: rgb(39, 174, 96);
  background-color: white;
  width: 80vh;
  height: 40vh;
  height: auto;
  
}
.quote-text {
  font-family:'Raleway', sans-serif;
  font-size: 1.75em;
  text-align: center;
  padding: 1.0em;
}
.quote-author { 
  font-family: 'Raleway', sans-serif;
  font-size: 1.0em;
  text-align: right;
  padding-right: 3.0em;
}
#tweet-quote {
  background-color:rgb(39, 174, 96);
  color: white;
  width: 1.0em;
  float: left;
  text-align: center;
  height: 40px;
  width: 40px;
}

#new-quote {
  font-family: 'Raleway', sans-serif;
  font-size: 1.0em;
  text-align: center;
  background-color: rgb(39, 174, 96);
  color: white;
  float:right;
  height: 40px;
  width: 120px;
}
.buttons {
  display: block;
  padding-bottom: 5.0em;
  padding-left: 3.0em;
  padding-right: 3.0em;
}
.footer {
  padding-top: 0.8em;
  color: white;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
a {
  color: white;
  text-decoration: none;
}